*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 0 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
body{
    width: 100%;
}
p{
    font-size: 60px;
    color: white;
}
.webgl{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    pointer-events: none;
}

section:nth-child(odd){
    justify-self: start;
}